<div class="ui-g">
    <div class="ui-g-12">
        <p-table [value]="cart">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Item Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-cart>
                <tr *ngFor="let item of cart.items">
                    <td>{{ cart.id }}</td>
                    <td >{{ item.name }}</td>
                    <td class="col-number">{{ item.price | number:'1.2-2'}}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="col-number">{{ cart.total | number:'1.2-2'}}</td>
                </tr>
            </ng-template> 
        </p-table>
    </div>
</div>
